.intro{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 80%;
    flex-direction: column;
}

.post-text{
    font-family: Trebuchet MS, sans-serif;
    font-size: 32px;
}

hr{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.date{
    font-size: 20px;
}

.text{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
