{% extends 'base.html' %}

{% block title %}
Новости
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="block-title">
      <p class="title-text">
          Все статьи на сайте
      </p>
  </div>
    {% for el in articles %}
    <div class="alert alert-info">
        <h2>{{ el.title }}</h2>
        <p>{{ el.intro  }}</p>
        <p><b>Дата: {{ el.date.strftime("%d/%m/%y %H:%M" )}}</b></p>
        <button class="btn btn-warning">Детальнее</button>
    </div>
    {% endfor %}
</div>
{% endblock %}