{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>{{ article.title }}</h1>
  <div class="alert alert-info">
    <p class="post-text">
      {{ article.intro }}
    </p>
    <p class="date grey">
      {{ article.date.strftime("%d/%m/%y %H:%M") }}
    </p>
    <a href="/news/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
    <a href="/news/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
  </div>
  <hr>
  <div class="text">
    <p class="post-text">
      All Text
    </p>
  </div>
</div>
{% endblock %}